{% extends "base.html" %}
{% block title %}Connexion admin{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-box">
        <article>
            <header><i class="ti ti-shield-lock"></i> Connexion administrateur</header>
            <form method="POST">
                <label>
                    Mot de passe
                    <input type="password" name="password" required autofocus>
                </label>
                <button type="submit">
                    <i class="ti ti-login"></i> Se connecter
                </button>
            </form>
        </article>
    </div>
</div>
{% endblock %}
