{% extends "base.html" %}
{% block title %}Formulaire envoyé{% endblock %}

{% block content %}
<div class="success-wrap">
    <article>
        <div class="success-icon">
            <i class="ti ti-check"></i>
        </div>
        <hgroup>
            <h2>Formulaire enregistré</h2>
            <p>Les informations ont bien été enregistrées. Merci pour votre suivi.</p>
        </hgroup>
        <a href="{{ url_for('formulaire') }}" role="button">
            <i class="ti ti-plus"></i> Nouveau formulaire
        </a>
    </article>
</div>
{% endblock %}
